.flexContainer{
    border: 1px solid red;
    display: flex;
    height: 90vh;
    /* gap: 10px; */
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flexItem{
    background-color: yellow;
    border: 2px solid blue;
    color: orangered;
    font-size: 24px;
    height: 60px;
    width: 80px;
}

.flexItem:nth-child(1){
    order: 1;
    align-self: center;
}

.flexItem:nth-child(6){
    order: -1;
    align-self: flex-end;
}