* {
  padding: 0px;
  margin: 5px;
}

h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  font-size: 12px;
}
p {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.flexRowContainer {
  border: 1px solid black;
  display: flex;
  height: 50px;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

.flexRowItem {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 50px;
  text-align: center;
  align-content: center;
  margin: 0px;
}

.flexColContainer {
  border: 1px solid black;
  display: flex;
  height: auto;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.flexColItem {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 40px;
  width: 210vh;
  text-align: center;
  align-content: center;
  margin: 0px;
}

.flexRowContainer2 {
  border: 1px solid black;
  display: flex;
  height: 50px;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.flexRowItem2 {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 50px;
  text-align: center;
  align-content: center;
  margin: 0px;
}

.flexRowContainer3 {
  border: 1px solid black;
  display: flex;
  height: 50px;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.flexRowItem3 {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 50px;
  text-align: center;
  align-content: center;
  margin: 0px;
}
.flexRowContainer4 {
  border: 1px solid black;
  display: flex;
  height: 100px;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.flexRowItem4 {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 50px;
  text-align: center;
  align-content: center;
  margin: 0px;
}
.flexRowItem4:nth-child(2) {
  height: 70px;
}
.flexRowContainer5 {
  border: 1px solid black;
  display: flex;
  height: auto;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.flexRowItem5 {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 100px;
  text-align: center;
  align-content: center;
  margin: 0px;
}
.flexRowContainer6 {
  border: 1px solid black;
  display: flex;
  height: auto;
  gap: 30px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.flexRowItem6 {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 40px;
  text-align: center;
  align-content: center;
  margin: 0px;
}
.flexRowContainer7 {
  border: 1px solid black;
  display: flex;
  height: auto;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.flexRowItem7 {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 40px;
  text-align: center;
  align-content: center;
  margin: 0px;
}

.flexRowItem7:nth-child(1) {
  flex-grow: 1;
}
.flexRowItem7:nth-child(2) {
  flex-grow: 2;
}
.flexRowItem7:nth-child(3) {
  flex-grow: 0;
}

.flexRowContainer8 {
  border: 1px solid black;
  display: flex;
  height: auto;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  width: auto;
}

.flexRowItem8 {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 100px;
  text-align: center;
  align-content: center;
  margin: 0px;
}
.flexRowItem8:nth-child(1) {
  flex-shrink: 1;
}
.flexRowItem8:nth-child(2) {
  flex-shrink: 3;
}

.flexRowContainer9 {
  border: 1px solid black;
  display: flex;
  height: auto;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  width: auto;
}

.flexRowItem9 {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 100px;
  text-align: center;
  align-content: center;
  margin: 0px;
}

.flexRowItem9:nth-child(1) {
  flex-basis: 150px;
}
.flexRowItem9:nth-child(2) {
  flex-basis: auto;
}

.flexRowContainer10 {
  border: 1px solid black;
  display: flex;
  height: auto;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  width: auto;
}

.flexRowItem10 {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 100px;
  text-align: center;
  align-content: center;
  margin: 0px;
}

.flexRowItem10:nth-child(1) {
  order: 1;
}
.flexRowItem10:nth-child(2) {
  order: 0;
}
.flexRowItem10:nth-child(3) {
  order: 2;
}

.flexRowContainer11 {
  border: 1px solid black;
  display: flex;
  height: 100px;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  width: auto;
}

.flexRowItem11 {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  height: 50px;
  width: 50px;
  text-align: center;
  align-content: center;
  margin: 0px;
}

.flexRowItem11:nth-child(1) {
  align-self: flex-start;
}

.flexRowItem11:nth-child(2) {
  align-self: center;
}

.flexRowItem11:nth-child(3) {
  align-self: flex-end;
}
