.flexContainer{
    border: 1px solid red;
    display: flex;
    height: 90vh;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexItem{
    background-color: yellow;
    border: 2px solid blue;
    color: orangered;
    font-size: 24px;
    height: 60px;
    width: 80px;
}