.gridContainer{
    border: 1px solid red;
    height: 90vh;
    display: grid;
    gap: 20px;
    grid-template-columns: 100px repeat(4, 200px);
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    padding: auto;
    row-gap: 50px;
    align-content: center;
    justify-content: space-evenly;
    color-gap: 5px;
}

.item{
    color: red;
    border: 1px solid;
    background-color: yellow;
    padding: 30px 40px;
}

.item:nth-child(1){
    grid-column-start: 3;
    grid-column-end: -1;
    grid-column: 3/-1;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-row: 2/3;
}

.item:nth-child(8){
    grid-column: 2/3;
    grid-row: 1/2;
}