.gridContainer{
    border: 1px solid red;
    height: 90vh;
    display: grid;
    gap: 20px;
    grid-template-columns: 100px repeat(4, 200px);
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    padding: auto;
}

.item{
    color: red;
    border: 1px solid;
    background-color: yellow;
    padding: 30px 40px;
}