.fixed{
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

body{
    background-color: black;
}

.range{
    position: fixed;
    padding: 10px;
    top: 20px;
    right: 30px;
    border-radius: 5px;
    color: white;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-top: 120px;
}

.q{
    position: fixed;
    top: 300px;
    left: 50px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.score{
    position: fixed;
    top: 300px;
    right: 100px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

h2, h3{
    color: white;
}