/* Universal selector */
*{
    border: 1px solid red;
}

/* tag selector */
h1{
    background-color: green;
}

/* id selector */
#a, #home{
    color: red;
    background-color: yellow;
}

/* class selector */
.b{
    border: 5px solid;
}

/* Group selector */
h1,h2{
    color: blueviolet;
}

/* descendant selector */
div p{
    color: red;
    background-color: yellow;
}

/*child selector*/
div > p{
    color: green;
    background-color: blue;
}

/* attribute selector */
button[type="button"]{
    color: red;
    font-size: 32px;
}

/* pseudo classes */
li:nth-child(2):hover{
    color: cyan;
    background-color: black;
}
li::marker{
    color: darkgoldenrod;
}

/*pseudo elements*/
#r::before{
    content: "Written by css: ";
}

.b::first-letter{
    font-size: 48px;
    color: red;
}

#q{
    display: block;
}

#q::first-letter{
    font-size: 40px;
}

/* Box model */
h1:nth-child(1){
    border: 3px solid red;
    padding: 30px;
    Top right bottom left;
    padding: 10px;
}