/* Universal selector */
*{
    border: 1px solid red;
}

/* tag selector */
h1{
    background-color: green;
}

/* id selector */
#a, #home{
    color: red;
    background-color: yellow;
}

/* class selector */
.b{
    border: 5px solid;
}

/* Group selector */
h1,h2{
    color: blueviolet;
}

/* descendant selector */
div p{
    color: red;
    background-color: yellow;
}

/*child selector*/
div > p{
    color: green;
    background-color: blue;
}

/* attribute selector */
button[type="button"]{
    color: red;
    font-size: 32px;
}

li:nth-child(2){
    color: cyan;
    background-color: black;
}

li::marker{
    color: darkgoldenrod;
}