table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    border: 2px solid black;
    margin-bottom: 20px;
}

th{
    text-align: center;
}

th, td {
    padding: 0.75rem;
    border: 1px solid black;
}


th {
    background-color: lightblue;
    font-weight: bold;
}

.viewButton {
    background-color: cornsilk;
    padding: 10px;
    border-radius: 4px;
}

.viewButton:hover {
    background-color: black;
    color: white;
}