table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    border: 2px solid black;
}

th{
    text-align: center;
}

th, td {
    padding: 0.75rem;
    border: 1px solid black;
}


th {
    background-color: #f8f9fa;
    font-weight: bold;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    color: blue;
    text-decoration: none;
}
