*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(230, 230, 230);
}

.heading{
    background-color: rgb(82, 75, 200);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

h1{
    border: 3px solid red;
    border-collapse: 10px;
}

h1, .subtitle{
    color: white;
}

.container{
    width: 50%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.question{
    width: auto;
    height: auto;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

