.App {
  text-align: center;
  margin: 10px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gf {
  border: 2px solid red;
  margin: 10px;
  padding: 10px;
}

.f {
  border: 2px solid green;
  margin: 10px;
  padding: 10px;
}

.s {
  border: 2px solid blue;
  margin: 10px;
  padding: 10px;
}

.gs {
  border: 2px solid orange;
  margin: 10px;
  padding: 10px;
}

.counter{
  width: 35%;
  border: 2px solid black;
  margin: 20px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: yellow;
  color: red
}

button{
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  margin-left: 8px;
  font-size: 32px;
}

.inc{
  background-color: green;
}

.dec{
  background-color: red;
}

.inc:hover{
  font-size: 36px;
  background-color: lime;
  cursor: pointer;
}

.dec:hover{
  font-size: 36px;
  background-color: darkred;
  cursor: pointer;
}